<mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row>
        <span>Create Assessment</span>
        <span class="example-spacer"></span>
        <button mat-raised-button color="warn" routerLink="/home">Home</button>
        <button mat-button mat-raised-button color="accent" routerLink="/assessment/list">List</button>

    </mat-toolbar-row>
</mat-toolbar>

<div class="form-container">
    <mat-card>
        <mat-card-title>
            <span class="card-title">
                Create
            </span>
        </mat-card-title>

        <mat-card-content>
            <form [formGroup]="assessmentForm" (ngSubmit)="onSubmit()">

                <div class="upper-section">

                    <div class="description">

                        <div class="template-body">

                            <span class="form-field-span">
                                <label>Assessment Template</label>
                                <mat-form-field appearance="fill">
                                    <input matInput placeholder="First Name" formControlName="template">
                                    <mat-error *ngIf="assessmentform.template.errors?.required">this is required</mat-error>
                                </mat-form-field>
                            </span>

                            <span class="form-field-span body-reg">
                                <label>Body region:</label>
                                <mat-form-field appearance="fill">
                                    <mat-select formControlName="bodyRegion" name="bodyRegion" multiple>
                                        <mat-option *ngFor="let br of bodyRegion" [value]="br">
                                            {{br}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="assessmentform.bodyRegion.errors?.required">this is required</mat-error>
                                </mat-form-field>
                            </span>

                        </div>

                        <span class="form-field-span">
                            <label>Description</label>
                            <mat-form-field appearance="fill">
                                <textarea matInput placeholder="Description here..." formControlName="description"></textarea>
                                <mat-error *ngIf="assessmentform.description.errors?.required">this is required</mat-error>

                            </mat-form-field>
                        </span>

                    </div>

                    <div class="measurements" formArrayName="measurements">
                        Patient Measurements
                        <ng-container *ngFor="let measurements of measurementsControls.controls; let i = index">
                            <ng-container [formGroupName]="i">

                                <span class="meas-span">

                                    <mat-form-field appearance="fill">
                                        <input matInput placeholder="about" formControlName="about">
                                        <mat-error *ngIf="measurements.get('about')?.errors?.required">this is required</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill">
                                        <input matInput placeholder="time" formControlName="time" [ngxTimepicker]="toggleTimepicker" readonly>
                                        <mat-error *ngIf="assessmentForm.get('measurements.' + i + '.time')?.errors?.required">this is required</mat-error>
                                        <span matSuffix>
                                            <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
                                            <ngx-material-timepicker #toggleTimepicker [theme]="customTheme"></ngx-material-timepicker>
                                        </span>
                                    </mat-form-field>
                                    <button class="remove-schedule" *ngIf="i > 0" mat-icon-button type="button" color="warn" (click)="removeMeasurement(i)" title="remove Schedule">
                                        <mat-icon>delete_outline</mat-icon>
                                    </button>

                                </span>

                            </ng-container>
                        </ng-container>
                        <button mat-flat-button type="button" color="primary" (click)="addMeasurement()" title="Add Product" [disabled]="assessmentForm.get('measurements')?.invalid">
                            <mat-icon>playlist_add</mat-icon>
                            Add Schedules
                        </button>
                    </div>

                </div>

                <div class="lower-section">
                    <ng-container formArrayName="category">

                        <div class="category">
                            Category
                            <ng-container *ngFor="let category of categoryControls.controls; let i = index">
                                <ng-container [formGroupName]="i" *ngIf="categoryValid(i)">
                                    <span class="category-span">
                                        <mat-form-field appearance="fill">
                                            <input matInput placeholder="Category" formControlName="catName" (blur)="handleCatBlur(i)">
                                            <mat-error *ngIf="assessmentForm.get('category.' + i + '.catName')?.errors?.required">this is required</mat-error>
                                            <mat-icon class="ic-edit" matSuffix>mode_edit</mat-icon>
                                        </mat-form-field>
                                        <button class="remove-category" *ngIf="i > 0" mat-icon-button type="button" color="warn" (click)="removeCategory(i)" title="remove Schedule">
                                            <mat-icon>delete_outline</mat-icon>
                                        </button>
                                    </span>
                                </ng-container>
                            </ng-container>
                            <button mat-icon-button type="button" color="primary" (click)="addCategory()" title="Add Product" [disabled]="assessmentForm.get('category')?.invalid">
                                <mat-icon class="add-icon">add</mat-icon>
                            </button>
                        </div>
                        <ng-container [formGroupName]="currentCategoryIndex">
                            <ng-container formArrayName="assessment">

                                <div class="assessment" [ngClass]="{'blurAssm': blurAssm == true}">
                                    Assessment
                                    <span [ngClass]="{'d-none': assmDisplay == false}">
                                        <ng-container *ngFor="let assessment of getAssessmentControls(currentCategoryIndex).controls; let j = index">
                                            <ng-container [formGroupName]="j">
                                                <span class="assessment-span">
                                                    <span class="patient-span">
                                                        <mat-icon *ngIf="isPatientAssessment() && j == currentAssessmentIndex">
                                                            account_circle
                                                        </mat-icon>
                                                    </span>
                                                    <span class="input-span">
                                                        <mat-form-field appearance="fill">
                                                            <input matInput placeholder="Assessment" formControlName="AssmName" (blur)="handleAssmBlur(j)">
                                                            <mat-error *ngIf="assessmentForm.get('category.' + currentCategoryIndex + '.assessment.' + j + '.AssmName')?.errors?.required">this is required</mat-error>
                                                            <mat-icon class="ic-edit" matSuffix>mode_edit</mat-icon>

                                                        </mat-form-field>
                                                    </span>
                                                    <span class="remove-span">

                                                        <button class="remove-assessment" *ngIf="j > 0" mat-icon-button type="button" color="warn" (click)="removeAssessment(currentCategoryIndex,j)" title="remove Schedule">
                                                            <mat-icon>delete_outline</mat-icon>
                                                        </button>
                                                    </span>
                                                </span>

                                            </ng-container>
                                        </ng-container>
                                        <button mat-icon-button type="button" color="primary" (click)="addAssessment(currentCategoryIndex)" title="Add Product" [disabled]="assessmentForm.get('category')?.invalid">
                                            <mat-icon class="add-icon">add</mat-icon>
                                        </button>
                                        {{currentCategoryIndex}}
                                    </span>
                                </div>
                            </ng-container>
                        </ng-container>
                        <div class="assessment-details" [ngClass]="{'blurAssmDetail': blurAssmDetail == true}">
                            Assessment Details
                            <ng-container [formGroupName]="currentCategoryIndex">
                                <ng-container formArrayName="assessment">

                                    <ng-container [formGroupName]="currentAssessmentIndex">
                                        <ng-container formGroupName="AssmDetails">

                                            <ng-container *ngFor="let assessment of getAssessmentDetailsControls(currentAssessmentIndex).controls; let k = index">
                                                <ng-container [formGroupName]="k">

                                                    <span [ngClass]="{'d-none': assmDetailsDisplay == false}">
                                                        <label>Type</label>
                                                        <mat-form-field appearance="fill">
                                                            <mat-select formControlName="type" name="type" (valueChange)="onTypeSelectionChange(currentAssessmentIndex,k)" (openedChange)="onTypeSelectionChange(currentAssessmentIndex,k)" [(value)]="selectedType">
                                                                <mat-option *ngFor="let type of types" [value]="type">
                                                                    {{type}}
                                                                </mat-option>
                                                            </mat-select>
                                                            <mat-error *ngIf="assessment.get('type')?.errors?.required">this is required</mat-error>
                                                        </mat-form-field>
                                                        <span class="error-span">
                                                            <mat-slide-toggle formControlName="isPatientAssessment" (change)="isPatientAssessment()" color="primary"> Patient Assessment</mat-slide-toggle>
                                                        </span>
                                                    </span>

                                                    <span>
                                                        <label>Unit</label>
                                                        <mat-form-field appearance="fill">
                                                            <mat-select formControlName="unit" name="unit">
                                                                <mat-option *ngFor="let unit of units" [value]="unit">
                                                                    {{unit}}
                                                                </mat-option>
                                                            </mat-select>
                                                            <mat-error *ngIf="assessment.get('unit')?.errors?.required">this is required</mat-error>
                                                        </mat-form-field>
                                                        <span class="error-span"></span>
                                                    </span>

                                                    <span>
                                                        <label>Value Range</label>
                                                        <span>
                                                            <mat-form-field appearance="fill" class="vr">
                                                                <input matInput type="number" placeholder="From" formControlName="rangeFrom" (keyup)="setMinRangeTo()">
                                                                <mat-error *ngIf="assessment.get('rangeFrom')?.errors?.required">this is required</mat-error>
                                                                <mat-error *ngIf="assessment.get('rangeFrom')?.errors?.pattern">Enter valid value</mat-error>
                                                                <mat-error *ngIf="assessment.get('rangeFrom')?.errors?.min">Minimum must be 10</mat-error>
                                                                <mat-error *ngIf="assessment.get('rangeFrom')?.errors?.max">Maximmum must be 999</mat-error>
                                                            </mat-form-field>
                                                            <mat-form-field appearance="fill" class="vr">
                                                                <input matInput type="number" placeholder="To" formControlName="rangeTo">
                                                                <mat-error *ngIf="assessment.get('rangeTo')?.errors?.required">this is required</mat-error>
                                                                <mat-error *ngIf="assessment.get('rangeTo')?.errors?.pattern">Enter valid value</mat-error>
                                                                <mat-error *ngIf="assessment.get('rangeTo')?.errors?.min">Range error: Value must be greater than {{assessment.get('rangeFrom')?.value}}</mat-error>
                                                                <mat-error *ngIf="assessment.get('rangeTo')?.errors?.max">Maximmum must be 999</mat-error>

                                                            </mat-form-field>
                                                        </span>
                                                        <span class="error-span"></span>
                                                    </span>

                                                    <span>
                                                        <label>Measurement type</label>
                                                        <mat-slide-toggle formControlName="measureType" (change)="setRefRegionValidation()">Side comparison</mat-slide-toggle>

                                                        <span class="error-span"></span>
                                                    </span>

                                                    <span>
                                                        <label>Measuring Region</label>
                                                        <mat-form-field appearance="fill">
                                                            <textarea matInput placeholder="Description here..." formControlName="measureRegion"></textarea>
                                                            <mat-error *ngIf="assessment.get('measureRegion')?.errors?.required">this is required</mat-error>
                                                        </mat-form-field>
                                                        <span class="error-span"></span>
                                                    </span>

                                                    <ng-container *ngIf="assessmentDetailsControl.measureType == true">

                                                        <span>
                                                            <label>Reference Region</label>
                                                            <mat-form-field appearance="fill">
                                                                <textarea matInput placeholder="Description Ref here..." formControlName="refRegion"></textarea>
                                                                <mat-error *ngIf="assessment.get('refRegion')?.errors?.required">this is required</mat-error>
                                                            </mat-form-field>
                                                            <span class="error-span"></span>
                                                        </span>
                                                    </ng-container>


                                                    <span>
                                                        <label>Measurements</label>
                                                        <ng-container *ngIf="assessmentDetailsControl.measureType == true">
                                                            <mat-form-field appearance="fill">
                                                                <mat-select formControlName="measurements" name="measurements" multiple (selectionChange)="setGoalsValidations()">
                                                                    <mat-select-trigger>
                                                                        {{ getSelectedMeasurementsText() }}
                                                                    </mat-select-trigger>
                                                                    <mat-option *ngFor="let measurement of measurements" [value]="measurement">
                                                                        {{measurement}}
                                                                    </mat-option>
                                                                </mat-select>
                                                                <mat-error *ngIf="assessment.get('measurements')?.errors?.required">this is required</mat-error>
                                                            </mat-form-field>
                                                        </ng-container>

                                                        <ng-container *ngIf="assessmentDetailsControl.measureType == false">
                                                            <mat-form-field appearance="fill">
                                                                <mat-select formControlName="measurements" name="measurements" multiple (selectionChange)="setGoalsValidations()">
                                                                    <mat-select-trigger>
                                                                        {{ getSelectedMeasurementsTextForTwo() }}
                                                                    </mat-select-trigger>
                                                                    <mat-option *ngFor="let measurement of measurements.slice(0, 2)" [value]="measurement">
                                                                        {{measurement}}
                                                                    </mat-option>
                                                                </mat-select>
                                                                <mat-error *ngIf="assessment.get('measurements')?.errors?.required">this is required</mat-error>
                                                            </mat-form-field>
                                                        </ng-container>
                                                        <span class="error-span"></span>
                                                    </span>

                                                    <ng-container formGroupName="goals">
                                                        <label class="goal-label">Goals</label>

                                                        <span>
                                                            <ng-container formGroupName="simple">

                                                                <ng-container *ngIf="assessmentDetailsControl.measurements.includes('Simple')">

                                                                    <label></label>

                                                                    <span>
                                                                        <mat-form-field appearance="fill" class="goal-inputs">
                                                                            <mat-select formControlName="selection" name="selection" (selectionChange)=" setRangeValidator()">
                                                                                <mat-option *ngFor="let selection of goalsSelect" [value]="selection">
                                                                                    {{selection}}
                                                                                </mat-option>
                                                                            </mat-select>
                                                                            <mat-error *ngIf="assessment.get('goals.simple.selection')?.errors?.required">this is required</mat-error>
                                                                        </mat-form-field>

                                                                        <mat-form-field appearance="fill" class="goal-inputs">
                                                                            <input matInput type="number" placeholder="value" formControlName="value" (blur)="openGraph()">
                                                                            <mat-error *ngIf="assessment.get('goals.simple.value')?.errors?.required">this is required</mat-error>
                                                                            <mat-error *ngIf="assessment.get('goals.simple.value')?.errors?.pattern">Enter Valid Input</mat-error>
                                                                            <mat-error *ngIf="assessment.get('goals.simple.value')?.errors?.range">please Enter Number between {{assessment.get('rangeFrom')?.value}} and
                                                                                {{assessment.get('rangeTo')?.value}}</mat-error>
                                                                        </mat-form-field>
                                                                    </span>
                                                                    <span class="error-span">
                                                                        {{assessmentDetailsControl.unit}}
                                                                    </span>


                                                                </ng-container>
                                                            </ng-container>
                                                        </span>
                                                        <span>

                                                            <ng-container formGroupName="errorRate">

                                                                <ng-container *ngIf="assessmentDetailsControl.measurements.includes('Error Rate')">

                                                                    <label></label>

                                                                    <span>
                                                                        <mat-form-field appearance="fill" class="goal-inputs">
                                                                            <mat-select formControlName="selection" name="selection">
                                                                                <mat-option *ngFor="let selection of goalsSelect" [value]="selection">
                                                                                    {{selection}}
                                                                                </mat-option>
                                                                            </mat-select>
                                                                            <mat-error *ngIf="assessment.get('goals.errorRate.selection')?.errors?.required">this is required</mat-error>
                                                                        </mat-form-field>

                                                                        <mat-form-field appearance="fill" class="goal-inputs">
                                                                            <input matInput placeholder="value" formControlName="value" type="number" (blur)="openGraph()">
                                                                            <mat-error *ngIf="assessment.get('goals.errorRate.value')?.errors?.required">this is required</mat-error>
                                                                            <mat-error *ngIf="assessment.get('goals.errorRate.value')?.errors?.pattern">Enter Valid Input</mat-error>

                                                                        </mat-form-field>
                                                                    </span>
                                                                    <span class="error-span">
                                                                        % Error Rate
                                                                    </span>

                                                                </ng-container>

                                                            </ng-container>
                                                        </span>
                                                        <span>
                                                            <ng-container formGroupName="difference">

                                                                <ng-container *ngIf="assessmentDetailsControl.measurements.includes('Difference') && !setRefRegionValidation()">

                                                                    <label></label>

                                                                    <span>
                                                                        <mat-form-field appearance="fill" class="goal-inputs">
                                                                            <mat-select formControlName="selection" name="selection">
                                                                                <mat-option *ngFor="let selection of goalsSelect" [value]="selection">
                                                                                    {{selection}}
                                                                                </mat-option>
                                                                            </mat-select>
                                                                            <mat-error *ngIf="assessment.get('goals.difference.selection')?.errors?.required">this is required</mat-error>
                                                                        </mat-form-field>

                                                                        <mat-form-field appearance="fill" class="goal-inputs">
                                                                            <input matInput placeholder="value" formControlName="value" type="number" (blur)="openGraph()">
                                                                            <mat-error *ngIf="assessment.get('goals.difference.value')?.errors?.required">this is required</mat-error>
                                                                            <mat-error *ngIf="assessment.get('goals.difference.value')?.errors?.pattern">Enter Valid Input</mat-error>
                                                                            <mat-error *ngIf="assessment.get('goals.difference.value')?.errors?.range">please Enter Number between {{assessment.get('rangeFrom')?.value}} and
                                                                                {{assessment.get('rangeTo')?.value}}
                                                                            </mat-error>
                                                                        </mat-form-field>
                                                                    </span>
                                                                    <span class="error-span">
                                                                        {{assessmentDetailsControl.unit}}. ( Difference to the reference region )
                                                                    </span>

                                                                </ng-container>
                                                            </ng-container>
                                                        </span>
                                                        <span>
                                                            <ng-container formGroupName="comparison">

                                                                <ng-container *ngIf="assessmentDetailsControl.measurements.includes('Comparison') && !setRefRegionValidation()">

                                                                    <label></label>

                                                                    <span>
                                                                        <mat-form-field appearance="fill" class="goal-inputs">
                                                                            <mat-select formControlName="selection" name="selection">
                                                                                <mat-option *ngFor="let selection of goalsSelect" [value]="selection">
                                                                                    {{selection}}
                                                                                </mat-option>
                                                                            </mat-select>
                                                                            <mat-error *ngIf="assessment.get('goals.comparison.selection')?.errors?.required">this is required</mat-error>
                                                                        </mat-form-field>

                                                                        <mat-form-field appearance="fill" class="goal-inputs">
                                                                            <input matInput placeholder="value" formControlName="value" type="number" (blur)="openGraph()">
                                                                            <mat-error *ngIf="assessment.get('goals.comparison.value')?.errors?.required">this is required</mat-error>
                                                                            <mat-error *ngIf="assessment.get('goals.comparison.value')?.errors?.pattern">Enter Valid Input</mat-error>
                                                                        </mat-form-field>
                                                                    </span>
                                                                    <span class="error-span">
                                                                        % of Reference Region
                                                                    </span>

                                                                </ng-container>
                                                            </ng-container>
                                                        </span>
                                                    </ng-container>
                                                    <span>
                                                        <label>Routine</label>

                                                        <mat-form-field appearance="fill" class="w-410">
                                                            <mat-select formControlName="routine" name="routine" multiple (selectionChange)="openGraph()" #select>
                                                                <div class="select-all">
                                                                    <mat-checkbox [(ngModel)]="allSelected" [ngModelOptions]="{standalone: true}" (change)="toggleAllSelection()">Daily</mat-checkbox>
                                                                </div>
                                                                <mat-option *ngFor="let day of routine" [value]="day" (click)="optionClick()">
                                                                    {{day}}
                                                                </mat-option>
                                                            </mat-select>
                                                            <mat-error *ngIf="assessment.get('routine')?.errors?.required">this is required</mat-error>
                                                        </mat-form-field>
                                                    </span>
                                                    <ng-container *ngIf="assessmentForm.get('measurements')?.valid">

                                                        <span>

                                                            <label>Times</label>

                                                            <mat-form-field appearance="fill" class="w-410">
                                                                <mat-select formControlName="times" name="times" multiple>
                                                                    <mat-option *ngFor="let pm of patiantMeasurements" [value]="pm" (click)="openGraph()">
                                                                        {{pm.about + ' (' + pm.time + ')'}}
                                                                    </mat-option>
                                                                </mat-select>
                                                                <mat-error *ngIf="assessment.get('times')?.errors?.required">this is required</mat-error>
                                                            </mat-form-field>
                                                            <mat-form-field appearance="fill" class="w-410">
                                                                <mat-select formControlName="times" name="times" multiple>
                                                                    <mat-option *ngFor="let pm of patiantMeasurements" [value]="pm" (click)="openGraph()">
                                                                        {{pm.about + ' (' + pm.time + ')'}}
                                                                    </mat-option>
                                                                </mat-select>
                                                                <mat-error *ngIf="assessment.get('times')?.errors?.required">this is required</mat-error>
                                                            </mat-form-field>
                                                        </span>


                                                        <div class="chart-container1">
                                                            <canvas id="MyChart">{{ chart }}</canvas>
                                                        </div>
                                                    </ng-container>

                                                </ng-container>
                                            </ng-container>

                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
                <div class="action-buttons">
                    <button mat-button color="warn" type="button" routerLink="/assessment/list">Cancel</button>
                    <button mat-raised-button color="primary" type="submit">Save</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>