.red-color{background-color: red; width: 100%; height: 40px;text-align: center;color: antiquewhite;}
.green-color{background-color: green; width: 100%; height: 40px;text-align: center;color: antiquewhite;}
