<div class="user-wrapper">
    <mat-card class="user-card">
        <mat-card-title *ngIf="!userId">User Add</mat-card-title>
        <mat-card-title *ngIf="userId">User Update</mat-card-title>
        <mat-card-content>
            <form class="user-form" #userForm="ngForm" (ngSubmit)="(userForm)" novalidate>

                <mat-form-field appearance="outline" class="">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Name" [(ngModel)]="user.username" name="username" #username="ngModel" required>
                    <mat-error *ngIf="userForm.submitted && userForm.hasError('required', 'username')">Username is required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="">
                    <mat-label>FirstName</mat-label>
                    <input matInput placeholder="firstName" [(ngModel)]="user.firstName" name="firstName" #firstName="ngModel" required>
                    <mat-error *ngIf="userForm.submitted && userForm.hasError('required', 'firstName')">firstName is required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="">
                    <mat-label>lastName</mat-label>
                    <input matInput placeholder="LastName" [(ngModel)]="user.lastName" name="lastName" #lastName="ngModel" required>
                    <mat-error *ngIf="userForm.submitted && userForm.hasError('required', 'lastName')">lastName is required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="">
                    <mat-label>Phone</mat-label>
                    <input matInput placeholder="+123 456-789-9876" [(ngModel)]="user.phone" name="phone" #phone="ngModel" required pattern="^\+\d{1,3} \d{1,3}-\d{3}-\d{4}$">
                    <mat-error *ngIf="userForm.submitted && userForm.hasError('required', 'phone')">phone is required</mat-error>
                    <mat-error *ngIf="userForm.submitted && userForm.hasError('pattern', 'phone')">Please enter a valid phone</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" [(ngModel)]="user.email" name="email" #email="ngModel" pattern="^[a-zA-Z0-9_\.-]+@([a-zA-Z0-9-]+\.)+[a-zA-Z]{2,3}$" required>
                    <mat-error *ngIf="userForm.submitted && userForm.hasError('required','email')">Email is required </mat-error>
                    <mat-error *ngIf="userForm.submitted && userForm.hasError('pattern', 'email')">Please enter a valid email</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="">
                    <mat-label>country</mat-label>
                    <input matInput placeholder="country" [(ngModel)]="user.country" name="country" #country="ngModel" required>
                    <mat-error *ngIf="userForm.submitted && userForm.hasError('required','country')">country is required </mat-error>
                </mat-form-field>

                <div class="action-button">
                    <button mat-stroked-button *ngIf="!userId" type="submit" matTooltip="Add User" color="accent" (click)="submit(userForm)">Add</button>
                    <button mat-stroked-button *ngIf="userId" type="submit" matTooltip="Update User" color="accent" (click)="update(userForm)">Update</button>
                    <button mat-stroked-button type="button" matTooltip="Cancel" color="accent" routerLink="/users">Cancel</button>
                </div>
            </form>
        </mat-card-content>


    </mat-card>
</div>