<mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row>
        <span>View Assessment</span>
        <span class="example-spacer"></span>
        <button mat-button mat-raised-button color="accent" routerLink="/home">Home</button>
        <button mat-button mat-raised-button color="accent" routerLink="/assessment/list">List</button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-card>
    <mat-toolbar class="mat-elevation-z3 card-toolbar">
        <mat-toolbar-row>
            <span>Assessment Details</span>
            <span class="example-spacer"></span>
            <button mat-icon-button [routerLink]="['/assessment/edit',data.aId]"><mat-icon>edit</mat-icon></button>
        </mat-toolbar-row>
    </mat-toolbar>


    <div class="upperdiv">
        <div class="description-div">
            <div>Description:</div>
            <span>
                {{data.description}}
            </span>

        </div>
        <div class="bodyRegion-div">
            <div>Body Region:</div>
            <span>
                {{data.bodyRegion}}
            </span>
        </div>
    </div>

    <div class="acc-title mat-elevation-z2">
        <span>Name</span>
        <span>Unit</span>
        <span>Measurement Type</span>
        <span>Simple</span>
        <span>Error Rate</span>
        <span>Difference</span>
        <span>Comparison</span>
        <span>Status</span>
        <span></span>
    </div>
    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel *ngFor="let item of data.category; let c = index">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span>{{item.catName}}</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngFor="let data of item.assessment; let a = index">

                <ng-container *ngFor="let chunk of data.AssmDetails; let i = index">

                    <div class="assmDetails-div">
                        <span>{{data.AssmName}}
                            <ng-container *ngIf="chunk.isPatientAssessment == true">
                                <mat-icon>account_circle</mat-icon>
                            </ng-container>
                        </span>
                        <span>{{chunk.unit}}</span>
                        <span>
                            <ng-container *ngIf="chunk.measureType">
                                Two point
                            </ng-container>
                            <ng-container *ngIf="!chunk.measureType">
                                One point
                            </ng-container>
                        </span>
                        <span>
                            <ng-container *ngIf="chunk.goals.simple.selection; else dash">
                                <app-icon-switch [selection]="chunk.goals.simple.selection"></app-icon-switch>
                                {{chunk.goals.simple.value}} {{chunk.unit}}
                            </ng-container>
                        </span>
                        <span>
                            <ng-container *ngIf="chunk.goals.errorRate.selection; else dash">
                                <app-icon-switch [selection]="chunk.goals.errorRate.selection"></app-icon-switch>
                                {{chunk.goals.errorRate.value}} %
                            </ng-container>
                        </span>
                        <span>
                            <ng-container *ngIf="chunk.goals.difference.selection; else dash">
                                <app-icon-switch [selection]="chunk.goals.difference.selection"></app-icon-switch>
                                {{chunk.goals.difference.value}} {{chunk.unit}}
                            </ng-container>
                        </span>
                        <span>
                            <ng-container *ngIf="chunk.goals.comparison.selection; else dash">
                                <app-icon-switch [selection]="chunk.goals.comparison.selection"></app-icon-switch>
                                {{chunk.goals.comparison.value}} %
                            </ng-container>
                        </span>
                        <span><mat-slide-toggle color="primary"></mat-slide-toggle></span>
                        <span>
                            <button mat-button mat-icon-button color="accent" (click)="show(chunk)"><mat-icon>multiline_chart</mat-icon></button></span>
                    </div>

                </ng-container>
            </ng-container>
        </mat-expansion-panel>
    </mat-accordion>

</mat-card>

<ng-template #dash>
    <mat-icon>remove</mat-icon>
</ng-template>