<mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row>
        <span>Welcome to Weather App</span>
        <span class="example-spacer"></span>
        <button mat-button mat-raised-button color="warn" routerLink="/home">Home</button>
    </mat-toolbar-row>
</mat-toolbar>

<div class="container">

    <div class="card-container">

        <mat-card class="select-card">
            <h3>Select Location</h3>
            <mat-form-field>
                <mat-label>Country</mat-label>
                <mat-select [(ngModel)]="selectedCountry" (selectionChange)="onCountrySelectionChange()">
                    <mat-option *ngFor="let country of countries" [value]="country">{{ country }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>City</mat-label>
                <mat-select [(ngModel)]="location" (selectionChange)="searchWeatherLocation()">
                    <mat-option *ngFor="let city of cities" [value]="city">{{ city }}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card>

        <div class="info-condition-div">
            <ng-container *ngIf="data">
                <mat-card class="current-info" [ngClass]="{'day-bg': data.current.is_day == 1 , 'night-bg' :  data.current.is_day == 0}">
                    <h2>{{ data.location.name }}, {{ data.location.country }} </h2>
                    <h2>Local Time: {{ data.location.localtime}} </h2>

                    <div class="info-container">
                        <div class="current-location">
                            <h2>Current Temperature : {{ data.current.temp_c }}&deg;C</h2>
                            <h2>Feels Like {{ data.current.feelslike_c }}&deg;C</h2>
                        </div>
                    </div>
                </mat-card>
                <mat-card class="condition-card" [ngClass]="{'day-bg-col': data.current.is_day == 1 , 'night-bg-col' :  data.current.is_day == 0}">
                    <div>
                        <img src="{{ data.current.condition.icon }}">
                        <h2>{{data.current.condition.text}}</h2>
                    </div>
                    <div class="current-weather">
                        <p>Humidity: {{data.current.humidity}} %</p>
                        <p>visibility: {{data.current.vis_km}} km</p>
                        <p><mat-icon>av_timer</mat-icon> {{data.current.pressure_mb}} mb</p>
                        <p><mat-icon> near_me</mat-icon> {{data.current.wind_kph}} kph</p>
                    </div>
                </mat-card>
            </ng-container>
        </div>
    </div>

    <ng-container *ngIf="data">
        <div class="chart-table-container">
            <div class="chart-section">
                <app-chart></app-chart>
            </div>
            <mat-card class="weather-table">
                <div class="table-res ">

                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef>Day</th>
                            <td mat-cell *matCellDef="let day;">{{ day.date | date: 'EEE, MMM d' }}</td>
                        </ng-container>

                        <ng-container matColumnDef="temperature">
                            <th mat-header-cell *matHeaderCellDef>Temperature (°C)</th>
                            <td mat-cell *matCellDef="let day"> {{ day.day.maxtemp_c }} / {{ day.day.mintemp_c}}</td>
                        </ng-container>

                        <ng-container matColumnDef="condition">
                            <th mat-header-cell *matHeaderCellDef>Condition</th>
                            <td mat-cell *matCellDef="let day"><img src="{{day.day.condition.icon}}" alt=""> {{day.day.condition.text}}</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="['date','temperature','condition']"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['date','temperature','condition']"></tr>
                    </table>
                    <!-- </mat-card> -->
                </div>
            </mat-card>

        </div>
    </ng-container>



</div>