<div class="user-wrapper" [style.background]="bgColor">
    <div class="inner-div">
        <div class="top-div">
            <span>
                <span class="page-title">Expandible Users list With JSON API</span>

                <mat-form-field appearance="standard" class="search-bar">
                    <mat-label>Search</mat-label>
                    <input matInput placeholder="Search Username" (keyup)="applyFilter($event)" #search>
                    <button mat-icon-button matSuffix *ngIf="search.value" (click)="clearSearchInput()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </span>

            <button mat-raised-button class="add-button" routerLink="/users/add" matTooltip="Add User" matTooltipClass="custom-tooltip">
                <mat-icon>add</mat-icon>
                Add
            </button>

        </div>
        <ng-container *ngIf="getColorCount(bgColor) > 0">
            <span class="selected-bg-info">
                clicked <em>{{getColorCount(bgColor)}}</em> times
            </span>
        </ng-container>

        <mat-card>
            <div class="table-res">

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortDisableClear (matSortChange)="onSortChange($event)" multiTemplateDataRows>

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID </th>
                        <td mat-cell *matCellDef="let user">
                            {{user.id}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="username">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name</th>
                        <td mat-cell *matCellDef="let user">
                            {{user.username}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="expand">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let user">
                            <mat-icon *ngIf="expandedElement !== user">keyboard_arrow_down</mat-icon>
                            <mat-icon *ngIf="expandedElement === user">keyboard_arrow_up</mat-icon>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let user" [attr.colspan]="displayedColumns.length">
                            <div class="example-element-detail" [@detailExpand]="user == expandedElement ? 'expanded' : 'collapsed'">
                                <app-user-details *ngIf="user == expandedElement" (userInfo)="delete($event)" [userId]="user.id"></app-user-details>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.example-expanded-row]="expandedElement === row" (click)="expandedElement = expandedElement === row ? null : row;" matTooltip="Click to expand row"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="10">No data matching the "{{search.value}}"</td>
                    </tr>

                </table>

            </div>

            <mat-paginator [length]="totalItems" [pageSize]="itemsPerPage" [pageSizeOptions]="pageSizeOption" [showFirstLastButtons]="true" (page)="onPageChange($event)">
            </mat-paginator>

        </mat-card>
    </div>

</div>