
.user-wrapper{min-height: calc(100vh - 110px);display: flex;padding: 20px;
    .inner-div{display: flex;width: 90%;margin: auto;flex-direction: column;
        mat-card{height: fit-content;justify-content: space-between;display: flex;flex-direction: column;min-height: 380px;}
        .mat-column-Action a{margin: 0 5px;}
        th{ background-color: beige; color: indigo; font-size: 20px;}
        .mat-column-addresses>div{display: flex;justify-content: space-between;align-items: center;max-width: 500px;
            &>span{margin-right: 5px;}
        .address-display{white-space: pre-wrap;}
        }
        .top-div{display: flex;width: calc(100% - 40px); background-color: #FFFFFF;margin-bottom: 40px;justify-content: space-between;align-items: center;padding: 20px;
                box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
            .mat-raised-button {border: 1px solid currentColor;background: #3F51B5;color: #eceef8;
            }
        }
    }
}
.search-bar{width: 100%;max-width: 500px;}
.custom-tooltip {font-size: 13px;background-color: #3f51b5c7;}
          
.truncate-text {display: inline-block;width: 150px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; }
.page-title{font-size: 20px;}
  

app-user-details{width: 100%;}

tr.example-detail-row {height: 0; }
tr.example-element-row:not(.example-expanded-row):hover {background: whitesmoke;  }
tr.example-element-row:not(.example-expanded-row):active {background: #efefef;}
.example-element-row td {border-bottom-width: 0;  }
.example-element-detail {overflow: hidden;display: flex;}
.mat-column-expand{text-align: end;}
