<mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row>
        <span>List of Assessments</span>
        <span class="example-spacer"></span>
        <button mat-button mat-raised-button color="accent" routerLink="/home">Home</button>
        <button mat-button mat-raised-button color="accent" routerLink="/assessment/create">Add</button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card>
    <div class="table-res">

        <table mat-table [dataSource]="assmList" class="mat-elevation-z8">

            <ng-container matColumnDef="Id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let item"> {{item.aId}}</td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> description </th>
                <td mat-cell *matCellDef="let item"> {{truncate(item.description, 40) }}</td>
            </ng-container>

            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> category(s) </th>
                <td mat-cell *matCellDef="let element">
                    <ul>
                        <div *ngFor="let item of element.category;let i = index">
                            <li>{{item.catName}}</li>
                        </div>
                    </ul>
                </td>
            </ng-container>

            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <div>
                        <button mat-icon-button [routerLink]="['/assessment/view',element.aId]"><mat-icon color="accent">remove_red_eye</mat-icon></button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

    </div>
</mat-card>