<mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row>
        <span>Edit Products</span>
        <span class="example-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card class="userreg-card mat-elevation-z3">
    <mat-card-header>
        <mat-card-title>Welcome To Products</mat-card-title>
        <mat-card-subtitle>Enter following Details to Add Products</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="productForm" (ngSubmit)="onEditSubmit()">
            <div formArrayName="products">
                <div *ngFor="let products of productControls.controls let i = index">
                    <div [formGroupName]="i">

                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput type="text" formControlName="name">
                            <mat-error *ngIf="productForm.get('products.' + i + '.name')?.errors?.pattern">Enter Valid Input</mat-error>
                            <mat-error *ngIf="productForm.get('products.' + i + '.name')?.errors?.required">Name is required.</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea matInput type="text" formControlName="description"></textarea>
                            <mat-error *ngIf="productForm.get('products.' + i + '.description')?.errors?.pattern">Enter Valid Input</mat-error>
                            <mat-error *ngIf="productForm.get('products.' + i + '.description')?.errors?.required">Description is Required</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Category</mat-label>
                            <mat-select formControlName="category">
                                <mat-option value="Electronics">Electronics</mat-option>
                                <mat-option value="Clothing">Clothing</mat-option>
                                <mat-option value="Home & Kitchen">Home & Kitchen</mat-option>
                                <mat-option value="Books">Books</mat-option>
                                <mat-option value="Toys">Toys</mat-option>
                            </mat-select>
                            <mat-error *ngIf="productForm.get('products.' + i + '.category')?.errors?.required">category is Required</mat-error> </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Price</mat-label>
                            <input matInput type="number" class="example-right-align" placeholder="0" formControlName="price">
                            <span matPrefix>₹&nbsp;</span>
                            <mat-error *ngIf="productForm.get('products.' + i + '.price')?.errors?.pattern">Enter Valid Input</mat-error>
                            <mat-error *ngIf="productForm.get('products.' + i + '.price')?.errors?.required">price is Required</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>SKU</mat-label>
                            <input matInput type="text" formControlName="sku">
                            <mat-error *ngIf="productForm.get('products.' + i + '.sku')?.errors?.pattern">Enter Valid Input</mat-error>
                            <mat-error *ngIf="productForm.get('products.' + i + '.sku')?.errors?.required">sku is Required</mat-error>
                        </mat-form-field>

                        <mat-radio-group aria-label="Select an option" formControlName="isStock">
                            <div class="availibility-div">
                                <mat-label>Stock Availibility</mat-label>
                                <span class="radio">
                                    <mat-radio-button value="yes">Yes</mat-radio-button>
                                    <mat-radio-button value="no" color="warn">No</mat-radio-button>
                                </span>
                            </div>
                            <mat-error *ngIf="productForm.get('products.' + i + '.isStock')?.errors?.required">Stock Availibility is Required</mat-error>
                        </mat-radio-group>

                        <div formGroupName="availableFor">
                            <div class="availibility-div">
                                <mat-label>Available For : </mat-label>
                                <span class="check">
                                    <mat-checkbox formControlName="men" color="primary"> Men</mat-checkbox>
                                    <mat-checkbox formControlName="women" color="accent">Women</mat-checkbox>
                                </span>
                            </div>
                        </div>

                        <button class="remove-button" *ngIf="i > 0" mat-mini-fab type="button" color="warn" (click)="removeProduct(i)" title="remove Product">
                            <mat-icon>delete_outline</mat-icon>
                        </button>

                    </div>
                </div>
            </div>

            <button mat-mini-fab type="button" color="primary" [disabled]="productForm.invalid" (click)="addProduct()" title="Add Product">
                <mat-icon>playlist_add</mat-icon>
            </button>
            <div class="action-div">
                <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid">Submit</button>
                <button mat-raised-button color="accent" type="button" routerLink="/products">Cancel</button>
            </div>
        </form>
    </mat-card-content>

</mat-card>