<mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row>
        <span>About</span>
        <span class="example-spacer"></span>
        <button mat-button mat-raised-button color="accent" routerLink="/chart">Chart</button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card class="userreg-card mat-elevation-z3">
    <mat-card-header>
        <mat-card-title>Employee Details</mat-card-title>
        <mat-card-subtitle>---</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Name: {{ nodeData?.name }}</p>
        <p>Designation: {{ nodeData?.designation }}</p>
        <p>Experience: {{ nodeData?.experience }} years</p>
        <p>Technology: {{ nodeData?.tech }}</p>
    </mat-card-content>

</mat-card>