<mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row>
        <span>About</span>
        <span class="example-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card class="userreg-card mat-elevation-z3">
    <mat-card-header>
        <mat-card-title>Employee Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="card-inner-div">
            
            <p>
                <span>Name:</span> 
                {{ nodeData?.name }}</p>
            <p>
                <span>Designation:</span> 
                {{ nodeData?.designation }}</p>
            <p>
                <span>Experience:</span> 
                {{ nodeData?.experience }} years</p>
            <p>
                <span>Technology:</span>
                {{ nodeData?.tech }}</p>
        </div>
       
    </mat-card-content>
    <button mat-mini-fab color="accent" routerLink="/chart">
        <mat-icon>
            arrow_back
        </mat-icon>
    </button>

</mat-card>