<div class="user-wrapper">
    <div class="inner-container">
        <mat-card class="user-card">
            <div class="create-field-container">
                <mat-form-field appearance="standard">
                    <mat-label>Field Type</mat-label>
                    <mat-select [(ngModel)]="newField.type">
                        <mat-option value="text">Text</mat-option>
                        <mat-option value="textarea">Textarea</mat-option>
                        <mat-option value="select">Dropdown</mat-option>
                        <mat-option value="radio">Radio</mat-option>
                        <mat-option value="checkbox">Checkbox</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Label</mat-label>
                    <input matInput type="text" [(ngModel)]="newField.label">
                </mat-form-field>
                <mat-checkbox [(ngModel)]="newField.required">Required</mat-checkbox>
                <div *ngIf="['select', 'radio', 'checkbox'].includes(newField.type)">
                    <mat-form-field appearance="fill">
                        <mat-label>Options</mat-label>
                        <input matInput type="text" [(ngModel)]="newOption">
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="addOption()">Add Option</button>
                </div>

                <div class="action-button">
                    <button mat-stroked-button color="primary" (click)="addField()">Add Field</button>
                    <button mat-stroked-button color="accent" type="submit" (click)="submitForm()">Submit</button>
                </div>

            </div>

        </mat-card>
        <div class="created-form-fields" cdkDropList (cdkDropListDropped)="drop($event)">
            <h4>preview</h4>
            <ng-container *ngFor="let item of formFields; let i = index">
                <mat-card class="card" cdkDragBoundary=".created-form-fields" cdkDrag>
                    <span>{{i + 1}} :: {{item.id}} :: {{item.type}} :: {{item.label}}</span>
                    <button mat-flat-button color="accent" (click)="removeField(item)">remove</button>
                </mat-card>
            </ng-container>
        </div>
    </div>
</div>