<div class="user-wrapper">
    <mat-card class="user-card">
        <form [formGroup]="form">
            <mat-form-field appearance="standard">
                <mat-label>Form Name</mat-label>
                <input matInput type="text" formControlName="formName">
            </mat-form-field>
            <div class="create-field-container " formArrayName="formDetails">
                <ng-container *ngFor="let fd of formDetailsControls.controls; let i = index">
                    <ng-container [formGroupName]="i">

                        <mat-form-field appearance="standard">
                            <mat-label>Field Type</mat-label>
                            <mat-select formControlName="type">
                                <mat-option value="text">Text</mat-option>
                                <mat-option value="textarea">Textarea</mat-option>
                                <mat-option value="select">Dropdown</mat-option>
                                <mat-option value="radio">Radio</mat-option>
                                <mat-option value="checkbox">Checkbox</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="standard">
                            <mat-label>Label</mat-label>
                            <input matInput type="text" formControlName="label">
                        </mat-form-field>

                        <mat-checkbox formControlName="required">Required</mat-checkbox>

                        <div *ngIf="isSpecialFieldType(i)">

                            <div formArrayName="options">
                                <div *ngFor="let optionCtrl of newFieldOptions.controls; let j = index">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Option {{ j + 1 }}</mat-label>
                                        <input matInput type="text" formControlName={{j}}>

                                    </mat-form-field>
                                    <button mat-icon-button color="warn" (click)="removeOption(j)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                    {{i}}
                                </div>
                            </div>

                            <button mat-raised-button color="primary" (click)="addOption()">Add Option</button>

                        </div>
                        <button *ngIf="i > 0" mat-stroked-button color="warn" (click)="remove(i)">remove Field</button>


                    </ng-container>


                </ng-container>
                <div class="action-button">
                    <button mat-stroked-button color="primary" (click)="addField()">Add Field</button>
                    <button mat-stroked-button color="accent" type="submit" (click)="submitForm()">Submit</button>
                </div>
            </div>
        </form>

    </mat-card>
</div>