<mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row>
        <span>UserList</span>
        <span class="example-spacer"></span>
        <button mat-raised-button color="warn" routerLink="/home">Home</button>
        <button mat-raised-button color="warn" (click)="onLogout()">Logout</button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card>
    <h1>Hello {{ truncateName(currentUser?.name) }}</h1>
    <div class="table-res">

        <table mat-table [dataSource]="userList" class="mat-elevation-z8">

            <ng-container matColumnDef="srNo">
                <th mat-header-cell *matHeaderCellDef> Sr .No. </th>
                <td mat-cell *matCellDef="let user;  let i= index"> {{i + 1}}</td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let user"> {{ truncateName(user?.name) }} </td>
            </ng-container>

            <ng-container matColumnDef="mobile">
                <th mat-header-cell *matHeaderCellDef> Mobile </th>
                <td mat-cell *matCellDef="let user"> {{user.mob}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let user"> {{user.email | lowercase}} </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let user"> {{user.type}} </td>
            </ng-container>

            <ng-container matColumnDef="country">
                <th mat-header-cell *matHeaderCellDef> Country </th>
                <td mat-cell *matCellDef="let user"> {{ getCountryName(user.country) }}</td>
            </ng-container>

            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef> State </th>
                <td mat-cell *matCellDef="let user"> {{ getStateName(user.state) }}</td>
            </ng-container>

            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef> City </th>
                ] <td mat-cell *matCellDef="let user"> {{ getCityName(user.city) }}</td>
            </ng-container>

            <ng-container matColumnDef="addresses">
                <th mat-header-cell *matHeaderCellDef> Address(s) </th>
                <td mat-cell *matCellDef="let user;let i = index">
                    <ng-container *ngFor="let address of user.addresses; let j = index">
                        <div>
                            <div>{{ truncateAddress(address.add) }}</div>
                            <button mat-icon-button color="accent" *ngIf="address.add.length > 40" (click)="onViewAddress(address.add,j)">
                                <mat-icon>arrow_drop_down_circle</mat-icon>
                            </button>
                        </div>
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let user">
                    <a [routerLink]="['/home/edit',user.id]"><mat-icon color="primary">edit</mat-icon></a>
                    <a (click)="delete(user.id)"><mat-icon color="warn">delete</mat-icon></a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

    </div>
</mat-card>