<mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row>
        <span>Home</span>
        <span class="example-spacer"></span>
        <button mat-button mat-raised-button color="warn" routerLink="/chart">Chart</button>
        <button mat-button mat-raised-button color="accent" routerLink="/postlist">JSON API</button>
        <button mat-button mat-raised-button color="warn" routerLink="/weather">Weather</button>
        <button mat-button mat-raised-button color="accent" routerLink="/products">Products</button>

        <button mat-raised-button color="warn" (click)="onLogout()">Logout</button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card>
    <mat-card-title>
        <span class="card-title">
            Hi! {{ truncateName(user?.name) }}
        </span></mat-card-title>
    <mat-card-content>
        <p>Welcome to the Website</p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="accent" routerLink="/home/list">List of Users</button>
        <button mat-raised-button color="accent" (click)="onView(user?.id)">My Details</button>
        <button mat-raised-button color="primary" routerLink="/assessment/create">
            <mat-icon>add</mat-icon>
            Create Assessment</button>
    </mat-card-actions>
</mat-card>