mat-card{width: 100%; max-width: 600px;margin:30px auto;padding:30px;
    .mat-card-title{font-size: 50px;font-weight: 400;}
    mat-card-content{margin-top: 20px;}
    mat-card-actions button{ margin: 0 20px}
}

