<mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row>
        <span>Register to My App</span>
        <span class="example-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card class="userreg-card mat-elevation-z3">
    <mat-card-header>
        <mat-card-title>Welcome To My App</mat-card-title>
        <mat-card-subtitle>Enter following Details to Register</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
                    <mat-error *ngIf="userForm.get('name').hasError('pattern') && isSubmitted">Please enter valid input</mat-error>
                    <mat-error *ngIf="userForm.get('name').hasError('required')">Name should not be empty</mat-error>
            </mat-form-field>
            {{userform.name?.dirty}}
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
                <mat-error *ngIf="userForm.get('email').hasError('pattern') && isSubmitted">Please enter valid input</mat-error>
                <mat-error *ngIf="userForm.get('email').hasError('required')">Email should not be empty</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>User Type</mat-label>
                <mat-select formControlName="type">
                    <mat-option value="admin">Admin</mat-option>
                    <mat-option value="user">User</mat-option>
                    <mat-option value="author">Author</mat-option>
                </mat-select>
                <mat-error *ngIf="userForm.get('type').hasError('required')">This is a required Field</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="pass">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="userForm.get('pass').hasError('pattern')  && isSubmitted">
                    Include at least 8 characters which must have at least <br>
                    one upper case characters (A-Z), one lower case character (a-z), <br>
                    a number (0-9) and a symbol (!, #, $, etc.)
                </mat-error>
                <mat-error *ngIf="userForm.get('pass').hasError('required')">Password should not be empty</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Mobile No.</mat-label>
                <input matInput formControlName="mob" type="tel">
                <mat-error *ngIf="userForm.get('mob').hasError('pattern')  && isSubmitted">Please enter valid input</mat-error>
            </mat-form-field>
            <div class="selection-div">
                <mat-form-field appearance="outline">
                    <mat-label>Country</mat-label>
                    <mat-select formControlName="country" (selectionChange)="onCountryIdChange()">
                        <mat-option *ngFor="let country of countries" [value]="country.id">
                            {{ country.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>State</mat-label>
                    <mat-select formControlName="state" (selectionChange)="onStateChange()">
                        <mat-option *ngFor="let state of states" [value]="state.id">
                            {{ state.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>City</mat-label>
                    <mat-select formControlName="city">
                        <mat-option *ngFor="let city of cities" [value]="city.id">
                            {{ city.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="address-div">
                <div formArrayName="addresses">
                    <div *ngFor="let address of addresses.controls; let i = index" class="address-innerdiv">
                        <div [formGroupName]="i">
                            <mat-form-field appearance="outline">
                                <mat-label>Address {{i + 1}}</mat-label>
                                <textarea matInput formControlName="add"></textarea>
                                <!-- <mat-error *ngIf="userForm.get('addresses' + i + 'add').hasError('required')">Address should not be empty</mat-error> -->

                                <mat-error *ngIf="userform.addresses.errors?.required">Address should not be empty</mat-error>
                            </mat-form-field>
                            <button *ngIf="i > 0" class="removeAddress" type="button" mat-icon-button color="warn" (click)="removeAddress(i)">
                                <mat-icon>remove_circle</mat-icon>
                            </button>
                        </div>
                    </div>
                    <button class="addAddress" mat-icon-button type="button" color="primary" (click)="addAddress()">
                        <mat-icon>control_point</mat-icon>
                    </button>
                </div>

            </div>
            <!-- <div *ngIf="userForm.hasError('addressesRequired')">At least one address is required.</div> -->
            <mat-card-actions>
                <button mat-button mat-raised-button color="accent" type="submit">Register</button>
                <span>
                    <p>Already an user?</p>
                    <a mat-button mat-raised-button type="button" color="primary" routerLink="/login">LOGIN</a>
                </span>
            </mat-card-actions>
        </form>
    </mat-card-content>

</mat-card>