.mat-dialog-content{ margin-top: 20px;
    span{display:  flex;align-items: baseline;
        p{margin-left: 10px;}
    }
}
.card-title{background-color: #9c27b0;position: sticky;z-index: 10;top: 0;color: aliceblue;display: flex;align-items: center;justify-content: center;padding: 20px ;
    h1{margin: 0;}
    button{margin-left: auto;}
}